<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
        #page-entrustInsurance,#page-borrowing {
            background: #fff;
        }

        article.content{
            display: block;
            background: #fff;
            width:210mm;
            margin:0 auto;
        }

        #entrustInsurance_content table,#borrowing_content table {
            width:90%;
            margin:0 auto;
        }


        #entrustInsurance_content h1,#borrowing_content h1 {
            text-align: center;
            width:100%;
            margin: 0;
        }

        .contract-number label {
            display: block;
            text-align: right;
        }

        .special-suggestion p,.contract-parties p,.contract-parties h3 {
            text-align:left;
            text-indent:2em;
            padding-bottom:10px;
        }
    </style>
<body>
    <section class="active" id="borrowing">
        <article class="content" id="borrowing_content" data-scroll="true">
            <div class="scroller">
            <h1>借款合同</h1>
            <div class="contract-number">
                <label><span>合同编号:</span>[<span id="loan_contractNoB">           </span>]</label>
                <label><span>合同签署日期:</span><span id="loan_contractData"></span></label>
            </div>
            <div class="special-suggestion">
                <h2>特别提示:</h2>
                <p>本借款合同由合同主文、合同细则及合同附件三个部分组成，各部分具有同等法律效力。</p>
                <p>在签署本合同之前, 请乙方仔细阅读并充分理解本合同的全部内容,慎重选择是否接受本合同全部条款。乙方一旦勾选或点击“我同意《借款合同》”选框或按钮, 即视为乙方已完全理解本合同所有条款的含义及相应的法律后果, 同意与本合同各方以数据电文的形式订立本合同并接受本合同约束。</p>
            </div>
            <div class="contract-parties">
                <h2>合同各方:</h2>
                <table border="1" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>甲方（出借人）</td>
                        <td>
                            <div>公司名称：上海永达小额贷款有限公司</div>
                            <div>联系地址：上海市瑞金南路299号</div>
                        </td>
                    </tr>
                    <tr>
                        <td>乙方（借款人）</td>
                        <td>
                            <div>名    称：<span id="borrowing_people"></span></div>
                            <div>证件号码：<span id="borrowing_userId"></span></div>
                            <div>联系地址：<span id="borrowing_address"></span></div>
                            <div>联系电话：<span id="borrowing_phoneNum"></span></div>
                        </td>
                    </tr>
                    <tr>
                        <td>丙方（点车成金）</td>
                        <td>
                            <div>公司名称：上海聚前金融信息服务有限公司</div>
                            <div>联系地址：上海市浦东新区东方路3601号2号楼2093室</div>
                        </td>
                    </tr>
                </table>
                <p>甲、乙、丙三方根据相关法律法规规定，经友好协商，本着平等自愿的原则，就乙方通过丙方负责运营的点车成金平台（包括PC端、APP、微信公众号）向甲方申请借款，用于支付委托丙方购买车辆保险所需保险费之事宜，签署本合同。</p>
                <h2 style="text-align: center">合同主文</h2>
                <h3>一、背景说明</h3>
                <table border="1" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>1、乙方已与丙方签订了合同编号为【<span id="borrowing_loan_contractNoB"></span>】的《委托投保合同》（以下简称“委托投保合同”），约定乙方委托丙方作为投保人，向其在委托投保合同中指定的保险公司为其向车辆销售商购买的车辆购买相关车辆保险。</td>
                    </tr>
                    <tr>
                        <td>2、乙方为支付车辆保险费用，特向甲方申请借款，甲方同意向乙方提供该笔借款，丙方基于乙方同意并成功注册为丙方负责运营的点车成金平台的用户且委托丙方代为投保，自愿代乙方承担该笔借款项下的借款利息。</td>
                    </tr>
                </table>
                <h3>二、借款事项</h3>
                <table border="1" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>借款金额</td>
                        <td>暂定为人民币【<span id="borrowing_money"></span>】元，大写【<span id="borrowing_moneyBig"></span>】元。实际借款金额的约定详见合同细则第1条。</td>
                    </tr>
                    <tr>
                        <td>借款用途</td>
                        <td>支付购买委托投保合同项下指定保险的保险费。</td>
                    </tr>
                    <tr>
                        <td>借款期限</td>
                        <td>借款期限为【<span id="borrowing_time"></span>】个月，自借款实际发放日起算。借款实际发放日指甲方将提供给乙方的借款全部汇入乙方指定的收款账户之日（即甲方划款日），如甲方划款日与到帐日非同一日，借款实际发放日以甲方划款日为准。</td>
                    </tr>
                    <tr>
                        <td>保证金</td>
                        <td>为确保乙方履行本合同项下约定的义务，乙方同意向甲方支付保证金，保证金金额为人民币【<span id="borrowing_holdMoney"></span>】元，大写【<span id="borrowing_holdMoneyBig"></span>】元整。</td>
                    </tr>
                    <tr>
                        <td>借款利息</td>
                        <td>本合同项下的借款利息由丙方承担，并由丙方直接支付给甲方，乙方无需向甲方支付借款利息。借款利息的计算方式、支付方式以甲丙双方另行签订的书面协议之约定为准。</td>
                    </tr>
                    <tr>
                        <td>借款发放</td>
                        <td>为便于丙方根据委托投保合同约定，代乙方购买相关车辆保险，乙方要求甲方直接将借款发放至丙方账户。故在本合同借款发放条件全部满足后，甲方应将本合同约定的实际借款金额汇入到乙方指定的丙方账户。</td>
                    </tr>
                    <tr>
                        <td>还款方式</td>
                        <td>乙方按月等额还款。</td>
                    </tr>
                    <tr>
                        <td>还款金额</td>
                        <td>每月还款金额以乙方在点车成金平台上的个人中心收到的《还款计划表》的约定为准。</td>
                    </tr>
                    <tr>
                        <td>还款日</td>
                        <td>每月还款日以乙方在点车成金平台上的个人中心收到的《还款计划表》的约定为准。</td>
                    </tr>
                    <tr>
                        <td>乙方指定的丙方账户</td>
                        <td>
                            <div>开户名称：上海聚前金融信息服务有限公司</div>
                            <div>开户银行：招商银行股份有限公司上海分行</div>
                            <div>账    号： 121921867410301</div>
                        </td>
                    </tr>
                    <tr>
                        <td>乙方指定的还款账户</td>
                        <td>
                            <div>开户名称：【<span id="borrowing_userName"></span>】</div>
                            <div>开户银行：【<span id="borrowing_bankName"></span>】</div>
                            <div>账    号：【<span id="borrowing_bankNum"></span>】</div>
                        </td>
                    </tr>
                    <tr>
                        <td>甲方账户</td>
                        <td>
                            <div>开户名称：上海永达小额贷款有限公司</div>
                            <div>开户银行：民生银行上海分行营业部</div>
                            <div>账    号：680230023</div>
                        </td>
                    </tr>
                </table>
                <h2 style="text-align: center">合同细则</h2>
                <h3>第1条 借款金额</h3>
                <p>1.1本合同项下乙方实际借款金额以乙方在委托投保合同中指定的保险公司所出具的保单中载明的保险费金额（以下简称“保单金额”）为准。</p>
                <p>1.2本合同项下乙方实际借款金额不包括保险公司代收代付的车船税金额。</p>
                <h3>第2条 借款用途</h3>
                <p>本合同项下借款用于乙方向丙方支付委托投保合同项下为购买相关车辆保险所产生的保险费。未经甲方书面同意，乙方不得变更借款用途。</p>
                <h3>第3条 保证金</h3>
                <p>乙方应于本合同签订之日将本合同约定的保证金支付到丙方账户，并委托丙方将保证金全部支付给甲方。保证金可用以冲抵第一期还款，如保证金不足以冲抵第一期还款的，则剩余金额由甲方按照本协议约定从乙方账户划扣。如保证金冲抵第一期还款尚有余额的，则剩余金额可冲抵第二期部分还款，甲方将在还款计划表中予以明确。</p>
                <h3>第4条 借款发放</h3>
                <p>4.1甲方发放借款之前, 乙方应满足以下全部条件，除非甲方明确放弃或豁免部分条件:</p>
                <p>（1）本合同、委托投保合同及其他相关文件已经合法签署并生效；</p>
                <p>（2）如乙方为按揭购车的，乙方的按揭购车申请已获得相关金融机构的审批同意；</p>
                <p>（3）乙方已按照本合同的约定按期足额的向甲方支付保证金；</p>
                <p>（4）乙方未发生违反在本合同中所作的承诺与保证的情形；</p>
                <p>（5）乙方的信用状况符合甲方要求，不存在信用状况差、有未偿还的重大债务等不符合甲方要求的情形，甲方有权解释乙方是否属于本条所述情形；</p>
                <p>（6）乙方已按照甲方要求如实提供各项信息和资料。</p>
                <p>4.2甲方有权依据内部评审制度自行决定乙方是否符合4.1条之条件，如甲方认定乙方不符合以上任一条件而不予放款，甲方不因此承担任何责任。</p>
                <p>4.3 乙方满足本合同约定的借款发放条件后，甲方应将本合同约定的借款金额汇入到乙方指定的丙方账户。借款金额到达乙方指定的丙方账户，即视为甲方已经履行完毕本合同约定的借款发放义务。</p>
                <h3>第5条 还款</h3>
                <p>5.1乙方应按照《还款计划表》的约定及时、足额向甲方还款。如乙方对《还款计划表》有任何异议的，应于收到后2日内向甲方提出，乙方未在上述期限内提出异议的，即视为乙方认可该《还款计划表》，并承诺按照该《还款计划表》还款。</p>
                <p>5.2乙方应于每个还款日前（不迟于北京时间17：00）将当月还款金额存入乙方指定的还款账户。如遇还款日非银行营业日，乙方应提前向指定的还款账户存入当月还款金额，无论还款日是否为银行营业日，还款日期均不进行顺延。</p>
                <p>5.3乙方不可撤销地授权并委托甲方通过甲方指定的第三方支付机构从乙方于本合同中指定的还款账户中主动扣收除第一月还款金额外的每月还款金额至甲方指定的收款账户，乙方应保证在每月还款日前账户中有足额还款金额。</p>
                <p>5.4乙方如需变更本合同中乙方指定的还款账户的，应在下一个还款日前至少提前10个工作日通知甲方并经甲方审核通过，甲方同意乙方变更的，乙方应根据甲方要求办理账户变更事宜。因乙方未及时告知并办理变更事宜造成逾期还款的，乙方应承担逾期还款的违约责任，由此给甲方造成损失的，由乙方予以赔偿，给乙方造成损失的， 由乙方自行承担。</p>
                <h3>第6条 提前还款：</h3>
                <p>6.1乙方可提前偿还全部或部分借款，但需提前3个工作日通知甲方，并按照甲方要求办理提前还款手续，将还款金额支付至甲方指定的账户。因乙方未按约定通知甲方给乙方造成的损失，由乙方自行承担。</p>
                <p>6.2乙方提前还款的，甲方不向乙方收取额外利息、违约金等费用，但甲方已经向丙方收取的利息不再退还。</p>
                <p>6.3乙方申请部分提前还款的，该部分提前还款金额的还款顺序为：最后一月还款金额；倒数第二月还款金额；以此类推。</p>
                <h3>第7条 债权债务转让</h3>
                <p>7.1甲方有权将依据本合同所持有的对乙方的部分或全部债权以及附着于该债权上的一切权益（以下简称“借款债权”）转让给第三方。乙方确认对此无任何异议。如甲方将借款债权转让给第三方后，乙方同意在得到甲方的书面通知后，应根据甲方要求向第三方履行本合同项下的义务，具体以甲方向乙方发出的《债权转让通知书》为准。</p>
                <p>7.2未经甲方事先书面同意, 乙方不得擅自向任何第三方转让其在本合同项下的部分或全部债务。乙方向第三方转让其在本合同项下的部分或全部债务的，应对该等债务承担连带清偿责任。</p>
                <h3>第8条 甲方的承诺和保证</h3>
                <p>8.1拥有完全的民事权利能力和民事行为能力订立并履行本合同；</p>
                <p>8.2保证所出借的资金来源合法，且是该笔资金的合法所有权人；</p>
                <p>8.3承诺保守乙方在履行本合同中透露的个人信息，但法律、法规另有规定的除外；</p>
                <p>8.4保证在无法依照本合同约定的支付方式出借款项时，及时通知乙方。</p>
                <h3>第9条 乙方的承诺和保证</h3>
                <p>9.1拥有完全的民事权利能力和民事行为能力订立并履行本合同且信用状况良好，无重大不良信用记录；</p>
                <p>9.2保证本合同项下借款的用途合法合规并严格按照本合同约定用途使用借款，不会擅自改变借款用途或将借款挪作他用；亦不得使用该笔借款从事任何违法犯罪活动；</p>
                <p>9.3其向甲方所披露并提供的所有信息、资料、文件及证照均真实、准确、完整和有效；</p>
                <p>9.4保证按照本合同约定履行还款义务；</p>
                <p>9.5如本合同项下借款属于需要乙方之外其他第三方承担共同还款责任或者乙方履行还款责任需要其他第三方知晓或同意的，乙方保证该第三方已知晓并同意本合同全部约定；</p>
                <p>9.6保证本合同签署后，如经甲方核实，乙方不符合借款发放条件而甲方未予放款时，乙方对该等情形及甲方在该等情形下不承担任何违约责任无异议。</p>
                <h3>第10条 丙方的承诺和保证</h3>
                <p>10.1拥有完全的民事权利能力和民事行为能力订立并履行本合同； </p>
                <p>10.2承诺保守丙方在履行本合同中获取的个人信息、商业秘密，但法律、法规另有规定的除外。</p>
                <p>10.3 丙方承诺在发生本合同约定的事由时，应根据甲方要求办理相关退保手续。</p>
                <h3>第11条 甲方的权利和义务</h3>
                <p>11.1在乙方满足放款条件的前提下，甲方应如期足额向乙方发放借款；</p>
                <p>11.2甲方有权检查本合同项下借款的使用情况，有权根据本合同项下借款用途要求乙方提供账户信息、支付凭证等相关资料并进行现场核查；</p>
                <p>11.3有权根据本合同的约定，宣布乙方的借款提前到期；</p>
                <p>11.4有权根据本合同的约定追究乙方的违约责任或要求乙方赔偿损失；</p>
                <p>11.5有权自行决定转让本合同中其对乙方全部或部分债权及权利，无需征得乙方的同意；</p>
                <p>11.6有权于合同签订后对乙方的资信情况进行审批，并根据甲方的审批规则自行决定是否对乙方发放借款，若审批结果为不同意发放借款，可以不予放款而不承担任何违约责任；</p>
                <p><b>11.7有权在乙方逾期偿还任何一期借款或有其他违约行为时，要求丙方办理退保手续，并要求丙方将保险公司退还的剩余保险费全部支付给甲方。</b></p>
                <p>11.8任何情况下保险公司退还保险费的，有权要求丙方将退还的保险费全部支付给甲方。</p>
                <h3>第12条 乙方的权利和义务</h3>
                <p>12.1有权按本合同约定使用借款；</p>
                <p>12.2有义务接受甲方对其资信状况和履约能力的调查，按甲方要求如实提供个人的各项信息和资料，包括但不限于职业、婚姻、资产、收入、支出、负债、对外担保等相关情况；</p>
                <p>12.3应按照本合同约定的期限和方式归还借款及支付相关费用；</p>
                <p>12.4应积极配合甲方对其借款使用情况进行检查，按照甲方要求向其提供书面报告、账户信息、支付凭证等资料，接受其现场查证；</p>
                <p>12.5如乙方发生任何对履行本合同产生不利影响的事件（包括但不限于乙方财务状况发生重大变化或涉及诉讼、仲裁、行政处罚或发生其它可能影响还款的事件），应立即通知甲方。</p>
                <p>12.6乙方应按下列顺序清偿债务：(1)实现债权的费用，包括律师费、诉讼费、财产保全费以及一切甲方向乙方追索债权发生的费用；(2) 违约金；(3) 损害赔偿金；(4)罚息；(5)复利；(6)利息；(7)本金。甲方有权变更上述顺序。</p>
                <p>12.7乙方如变更通讯地址、工作单位、住所地或经常居住地、电话等，应于变更后五日内书面通知乙方及丙方；</p>
                <p>12.8乙方变更委托投保合同或撤销委托投保的，应当经过甲方书面同意，否则，因此给甲方、丙方造成损失的，由乙方负责赔偿。</p>
                <p><b class="underline">12.9 委托投保合同约定的保险期间内，乙方不得向保险公司申请退保，亦不得要求丙方向保险公司申请退保，且乙方不得要求变更投保人。为保证乙方履行该条义务，乙方同意在丙方完成委托投保合同约定的义务后将为乙方所购买的车辆商业险保单原件交由甲方保管。</b></p>
                <p><b>12.10在借款存续期间，乙方同意并授权甲方将乙方提供的信用信息及相关借款情况提供给中国人民银行信用信息基础数据库及经信贷征信主管部门批准建立的信用数据库。</b></p>
                <h3>第13条 丙方的权利和义务</h3>
                <p>13.1在收到甲方发放的借款后，应按照委托投保合同之约定为乙方办理投保事宜，并及时向保险公司缴纳保费；</p>
                <p>13.2应在取得保险公司出具的保单和发票原件后，及时移交给甲方保管；</p>
                <p>13.3任何情况下丙方收到保险公司退还的保险费后及时支付给甲方；</p>
                <p>13.4未经甲方书面同意，不得为乙方办理退保手续；</p>
                <p>13.5应按照本合同及甲、丙双方之约定按时向甲方支付借款利息。</p>
                <h3>第14条 违约责任</h3>
                <p>14.1 乙方未按照本合同约定按时足额偿还借款的，应自乙方逾期之日起至乙方终止违约行为之日止的期间内，每日向甲方支付相当于逾期还款金额万分之五的违约金。如乙方逾期偿还任何一期借款超过5日，视为乙方严重违约，甲方有权提前终止本合同，要求乙方提前偿还全部借款。甲方提前终止本合同，不影响违约金的计算，违约金按照本条约定计算至乙方实际还款之日起止。如违约金不足以弥补甲方损失的，乙方应赔偿甲方因此而蒙受的全部损失。</p>
                <p>14.2乙方违反本合同约定的，包括但不限于以下任一情形：</p>
                <p>（1）乙方逾期偿还任何一期借款超过5日的；</p>
                <p>（2）乙方擅自改变本合同规定的借款用途；</p>
                <p>（3）乙方提供虚假资料或者故意隐瞒重要事实；</p>
                <p>（4）乙方涉及或可能涉及重大经济纠纷、诉讼、仲裁，或任何财产遭受没收、征用、查封、损坏、扣押、冻结或被强制执行，或被司法机关依法立案查处或依法采取处罚措施，或出现任何其他可能影响其履行本合同能力的不利事件；</p>
                <p>（5）乙方违背本合同项下承诺和保证；</p>
                <p>（6）乙方任何其他债务在到期（包括宣布提前到期）后未能清偿，或者不履行或违反其在其他合同项下的义务，已经或可能影响到其在本合同项下义务的履行的；</p>
                <p>（7）乙方资信状况已不符合甲方借款条件的；</p>
                <p>（8）乙方未履行本合同项下任何义务的；</p>
                <p>（9）保险合同被解除的；</p>
                <p>（10）乙方发生其他足以影响其偿债能力, 或出现甲方认为可能实质性影响乙方财务状况和履行本合同相关义务的情况；</p>
                <p>甲方有权采取以下一项或多项措施：</p>
                <p>（1）解除本合同, 要求乙方立即偿还本合同项下全部借款, 并支付相应的违约金等其他费用，违约金参照本合同第14.1条中约定的违约金计算；</p>
                <p>（2）要求乙方退还丙方代乙方支付的所有借款利息（金额以甲、丙双方另行签订的书面协议中约定的利息标准为准）；</p>
                <p>（3）要求丙方向相关保险公司申请退保，并将保险公司退还的剩余保险费全部支付给甲方，用以抵扣乙方应向甲方偿还的任何费用，如甲方收到的剩余的保险费不足以弥补甲方损失的，甲方有权继续向乙方追偿。</p>
                <p>14.3乙方在保险期间内无权要求退保，如乙方坚持要求退保的，按以下条款执行：</p>
                <p>14.3.1本合同提前终止，乙方应立即向甲方偿还本合同项下全部借款及丙方代乙方承担的借款利息，并结清其他乙方根据本合同约定需要承担的费用。</p>
                <p>14.3.2乙方须承担借款本金总额5%的违约金。</p>
                <p>14.3.3在乙方结清14.3.1条的全部费用后，丙方作为投保人向保险公司申请退保，保险公司退还的保险费在扣除乙方按照14.3.2条约定应承担的违约金后，如有剩余则由丙方退还给乙方。</p>
                <p>14.4如乙方出现违约情形时，若丙方尚未完全支付全部借款利息，甲方有权要求乙方直接将丙方尚未支付的借款利息支付给甲方。</p>
                <p>14.5在乙方出现违约情形时，乙方不可撤销地授权并委托甲方指定的第三方机构从乙方指定的还款账户中主动扣收等值于未偿还金额、丙方尚未支付的利息、违约金、赔偿金等一切应由乙方承担的费用至甲方账户。</p>
                <p>14.6甲方保留将乙方违约失信的相关信息在媒体、政府机关或行业协会等相关机构披露的权利。</p>
                <p>14.7因乙方的违约行为，导致甲方为实现债权而支出的费用（包括但不限于催收费、诉讼费、财产保全费、公告费、强制执行费、拍卖费用、差旅费、律师费、公证费等）全部由乙方承担。</p>
                <h3>第15条 通知及送达</h3>
                <p>15.1双方确认，本合同文首所列双方的地址、联系方式、电子邮箱为双方合法有效的通知及送达地址，且双方均同意将上述地址作为相关文件及司法文书的送达地址。</p>
                <p>15.2按本合同约定由任何一方发给其他方的任何通知，应以挂号邮寄、快递、电子邮件或者其他通讯形式发出，送至另一方的通知及送达地址。乙方、丙方可以通过点车成金平台站内通知的形式向乙方发送通知，乙方应当及时查收。</p>
                <p>15.3如采用挂号邮寄方式，上述文件或通知在投邮后第4日即视为送达和收到之日；如采用快递方式，快递人员将上述文件或通知送达收件人地址之日即视为送达和收到之日；如采用电子邮件方式，电子邮件到达被通知方邮件系统之日即视为送达和收到之日。乙方拒收不被视为未有效送达。</p>
                <p>15.4如果上述通知及送达地址信息之任何一项发生变更，变更方应在变更后5日内将更改后的联系方式按本条的约定书面通知对方。此后，本条约定的通知应按变更后的联系方式送达。</p>
                <h3>第16条 法律适用和争议解决</h3>
                <p>16.1本合同的订立、执行和解释以及争议的解决均适用中华人民共和国法律。</p>
                <p>16.2各方在履行本合同过程中发生任何争议和纠纷，应当友好协商解决，协商不成，任何一方可向原告所在地人民法院提起诉讼。</p>
                <h3>第17条 甲方记录的证据效力</h3>
                <p>除非有可靠、确定的相反证据，甲方有关本金、利息、费用和还款记录等内容的纸制或电子内部账务记载，甲方制作或保留的乙方办理业务过程中发生的纸制或电子单据、凭证，甲方催收借款的纸制或电子记录、凭证，均构成有效证据，双方同意不因由甲方单方制作或保留，而提出异议。</p>
                <h3>第18条 其他</h3>
                <p>18.1本合同约定“损失”，包括但不限于甲方为实现本合同权利而支出的律师费、公证费、差旅费等合理费用。</p>
                <p>18.2因法律、法规的修改或颁布、中国银行业监督管理委员会等金融监管部门提出新的监管要求致使甲方履行本合同将对甲方产生重大不利影响的, 在确保甲方出借资金本金安全的前提下, 甲方有权经书面通知乙方后解除本合同, 且甲方无须就此承担任何责任。</p>
                <p>18.3	如果本合同的任何条款因任何原因无效，该条款应视为被删除。该条款的无效并不影响本合同其他条款的有效性和可强制执行性，双方应当继续履行本合同其他条款</p>
                <p>18.4本合同附件包括：《还款计划表》及甲方签署的其他相关的合同及文件，本合同附件作为本合同组成部分，与本合同具有同等法律效力。</p>
                <p>18.5本合同未尽事宜，双方可另行约定并达成书面合同，作为本合同的补充合同。</p>
                <p>18.6本合同采用数据电文的方式签订，乙方在丙方点车成金平台成功注册为用户并在丙方平台上通过点击确认或类似方式签署本合同即视为乙方的真实意思表示，本合同即时成立并生效。各方不得以未签订书面合同为由否认本合同效力。</p>
                <h2 style="text-align: center">合同附件——还款计划表</h2>
                <table border="1" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>出借人</td>
                        <td>上海永达小额贷款有限公司</td>
                    </tr>
                    <tr>
                        <td>借款人</td>
                        <td>上海永达小额贷款有限公司</td>
                    </tr>
                    <tr>
                        <td>借款金额</td>
                        <td>人民币【】元，大写：【】元</td>
                    </tr>
                    <tr>
                        <td>还款计划</td>
                        <td>
                            <div><span>序号</span><span>还款日</span><span>还款金额（人民币：元）</span></div>
                            <div><span>1</span><span></span><span></span></div>
                            <div><span>2</span><span></span><span></span></div>
                            <div><span>3</span><span></span><span></span></div>
                            <div><span>4</span><span></span><span></span></div>
                            <div><span>5</span><span></span><span></span></div>
                            <div><span>6</span><span></span><span></span></div>
                            <div><span>7</span><span></span><span></span></div>
                            <div><span>8</span><span></span><span></span></div>
                            <div><span>9</span><span></span><span></span></div>
                            <div><span>10</span><span></span><span></span></div>
                            <div><span>11</span><span></span><span></span></div>
                            <div><span>12</span><span></span><span></span></div>
                        </td>
                    </tr>
                </table>
                <h2>备注：</h2>
                <p>1、本《还款计划表》作为主合同编号为<a style="text-decoration: underline;" id="loan_contractNoC"></a>的《借款合同》的附件，与主合同正文具有同等的法律效力，是主合同不可分割的一部分。</p>
                <p>2、借款人对本《还款计划表》所确定的借款金额、还款金额、还款期限等无任何异议，并承诺于本《还款计划书》约定的还款日前将还款金额按时存入借款人指定的还款账户。</p>
                <p>3、乙方支付的保证金可直接抵扣第一期还款金额。</p>
            </div>
            </div>
        </article>
    </section>
    <script>
        var changeNumMoneyToChinese = function(money) {
        var cnNums = new Array("零", "壹", "贰", "叁", "肆", "伍", "陆", "柒", "捌", "玖"); //汉字的数字
        var cnIntRadice = new Array("", "拾", "佰", "仟"); //基本单位
        var cnIntUnits = new Array("", "万", "亿", "兆"); //对应整数部分扩展单位
        var cnDecUnits = new Array("角", "分", "毫", "厘"); //对应小数部分单位
        var cnInteger = "整"; //整数金额时后面跟的字符
        var cnIntLast = "元"; //整型完以后的单位
        var maxNum = 999999999999999.9999; //最大处理的数字
        var IntegerNum; //金额整数部分
        var DecimalNum; //金额小数部分
        var ChineseStr = ""; //输出的中文金额字符串
        var parts; //分离金额后用的数组，预定义
        if (money == "") {
            return "";
        }
        money = parseFloat(money);
        if (money >= maxNum) {
            alert('超出最大处理数字');
            return "";
        }
        if (money == 0) {
            ChineseStr = cnNums[0] + cnIntLast + cnInteger;
            return ChineseStr;
        }
        money = money.toString(); //转换为字符串
        if (money.indexOf(".") == -1) {
            IntegerNum = money;
            DecimalNum = '';
        } else {
            parts = money.split(".");
            IntegerNum = parts[0];
            DecimalNum = parts[1].substr(0, 4);
        }
        if (parseInt(IntegerNum, 10) > 0) { //获取整型部分转换
            var zeroCount = 0;
            var IntLen = IntegerNum.length;
            for (var i = 0; i < IntLen; i++) {
                var n = IntegerNum.substr(i, 1);
                var p = IntLen - i - 1;
                var q = p / 4;
                var m = p % 4;
                if (n == "0") {
                    zeroCount++;
                } else {
                    if (zeroCount > 0) {
                        ChineseStr += cnNums[0];
                    }
                    zeroCount = 0; //归零
                    ChineseStr += cnNums[parseInt(n)] + cnIntRadice[m];
                }
                if (m == 0 && zeroCount < 4) {
                    ChineseStr += cnIntUnits[q];
                }
            }
            ChineseStr += cnIntLast;
            //整型部分处理完毕
        }
        if (DecimalNum != '') { //小数部分
            var decLen = DecimalNum.length;
            for (var i = 0; i < decLen; i++) {
                var n = DecimalNum.substr(i, 1);
                if (n != '0') {
                    ChineseStr += cnNums[Number(n)] + cnDecUnits[i];
                }
            }
        }
        if (ChineseStr == '') {
            ChineseStr += cnNums[0] + cnIntLast + cnInteger;
        } else if (DecimalNum == '') {
            ChineseStr += cnInteger;
        }
        return ChineseStr;

    }
        window.onload = function () {
            var YDJR_sendJson = localStorage.getItem("info_obj");
            var loanContractNo = localStorage.getItem("loanContractNo");
            var par = JSON.parse(YDJR_sendJson);
            document.getElementById("loan_contractNoB").innerHTML = loanContractNo;
            var data = new Date();
            document.getElementById("loan_contractData").innerHTML = (data.getFullYear() + '年' + (data.getMonth() + 1) + '月' + data.getDate() + '日');
            if(par.userInfo.customerName != undefined){
                document.getElementById("borrowing_people").innerHTML = par.userInfo.customerName;
             }
            if(par.userInfo.idsNumber != undefined){
                document.getElementById("borrowing_userId").innerHTML = par.userInfo.idsNumber;
            }
            if(par.userInfo.address != undefined){
                document.getElementById("borrowing_address").innerHTML = par.userInfo.address;
            }
            if(par.userInfo.customerPhone != undefined){
                document.getElementById("borrowing_phoneNum").innerHTML = par.userInfo.customerPhone;
            }
            document.getElementById("borrowing_loan_contractNoB").innerHTML = loanContractNo;
            if(par.creditInfo.businessSum != undefined){
                document.getElementById("borrowing_money").innerHTML = par.creditInfo.businessSum;
            }
            document.getElementById("borrowing_moneyBig").innerHTML = changeNumMoneyToChinese(par.creditInfo.businessSum);
            if(par.creditInfo.businessTerm != undefined){
                document.getElementById("borrowing_time").innerHTML = par.creditInfo.businessTerm;
            }
            var $forecasts_premium = Number(par.insuranceInfo.preInsuranceSum);
            var $insuranceTime_limit = Number(par.creditInfo.businessTerm);
            var $payAblevavtAmount = Number(par.insuranceInfo.payAblevavtAmount);
            var $baozhengjinjine = Number(($forecasts_premium/$insuranceTime_limit) + $payAblevavtAmount);
            //保留小数后两位
            function toDecimal2(x) {
                var f = parseFloat(x);
                if (isNaN(f)) {
                    return false;
                }
                var f = Math.round(x*100)/100;
                var s = f.toString();
                var rs = s.indexOf('.');
                if (rs < 0) {
                    rs = s.length;
                    s += '.';
                }
                while (s.length <= rs + 2) {
                    s += '0';
                }
                return s;
            }
            if(par.insuranceInfo.preInsuranceSum != undefined && par.insuranceInfo.uptoTerm != undefined){
                document.getElementById("borrowing_holdMoney").innerHTML = toDecimal2($baozhengjinjine);
            }
            if(par.insuranceInfo.preInsuranceSum != undefined && par.insuranceInfo.uptoTerm != undefined){
                document.getElementById("borrowing_holdMoneyBig").innerHTML = changeNumMoneyToChinese(toDecimal2($baozhengjinjine));
            }
            if(par.accountInfo.accountName != undefined){
                document.getElementById("borrowing_userName").innerHTML = par.accountInfo.accountName;
            }
            if(par.accountInfo.accountOrgID != undefined){
                document.getElementById("borrowing_bankName").innerHTML = par.accountInfo.accountOrgID;
            }
            if(par.accountInfo.accountNo != undefined){
                document.getElementById("borrowing_bankNum").innerHTML = par.accountInfo.accountNo;
            }

            document.getElementById("loan_contractNoC").innerHTML = loanContractNo;
        }
    </script>
</body>
</html>