<section id="financial_products" class="active">
    <header class="bar bar-nav">
        <a class="pull-left">取消申请</a>
        <h1 class="title">客户申请</h1>
    </header>
    <article id="financial_products_content" class="active">
        <div id="progress_bar" class="progress_bar">
            <ul class="progress_bar_img">
                <li>
                    <p class="have_text">1</p>
                    <span class="have_text">征信授权验证</span>
                </li>
                <li class="progress_line progress_lineFin"></li>
                <li>
                    <p class="have_text">2</p>
                    <span class="have_text">金融产品</span>
                </li>
                <li class="progress_line"></li>
                <li>
                    <p>3</p>
                    <span>申请信息</span>
                </li>
                <li class="progress_line"></li>
                <li>
                    <p>4</p>
                    <span>拍照材料</span>
                </li>
            </ul>
        </div>
        <div class="financial_products_contentC">
            <div class="box_contentC">
                <h3>当前已选产品</h3>
                <div class="box_loan">银行贷款</div>
            </div>
            <div class="box_contentC box_other" style="border: none;">
                <h3 class="other-h3">其他金融方案</h3>
                <div id="financialProduct_content" style="position: absolute">
                    <div class="scroller">
                        <ul id="changeFinancialProduct" style="display: block;height: 100%;">

                           <li>全款购车</li>
                            <li>融资租赁</li>
                            <li>开心车</li>
                            <li>BMW厂方-售后回租产品</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <footer id="financal_footer">
        <!--href="views/application_information.html" data-target="section"-->
        <div class="btn-agreement" id="confirm_scheme"><a >确认金融产品</a></div>
        <div class="btn_preveOne" id="financial_prev"><a >上一步</a></div>
        <!--data-target="back" href="#"-->
    </footer>
</section>